<!DOCTYPE html>
<html>

  <head>
    <!-- <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <script data-require="bootstrap@4.0.5" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script> -->
    <script data-require="angularjs@1.6.2" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <script src="script.js"></script>
  </head>

  <body class="container" ng-app="myApp" ng-controller="studentController" ng-cloak>
    
    <h1>Customer Package</h1>
    
   
    <!--Users List-->
    <br />
    <h4>Users List</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Customer Name</td>
          <td>Customer Email</td>
          <td>Customer Number</td>
          <td>Gender</td>
          <td>Dietican Name</td>
          <td>Package Name</td>
          <td>Start Date</td>
          <td>Action Commands</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{user.customer_name}}</td>
          <td>{{user.customer_email}}</td>
          <td>{{user.customer_mobileno}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.dietitian_name}}</td>
          <td>{{user.package_name}}</td>
          <td>{{user.created_on}}</td>
          <td>
            <button class="btn btn-default btn-sm" ng-click="editUser(user)">Edit</button>
            <button class="btn btn-default btn-sm" ng-click="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
 
    </table>
    
  </body>

</html>